:root {
    --main-color: #ffc107;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* start setting box */
.setting-box {
    position: fixed;
    left: -195px;
    top: 0;
    width: 200px;
    background-color: #fff;
    min-height: 100vh;
    z-index: 1000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.setting-box .toggle-setting {
    position: absolute;
    right: -36px;
    top: 100px;
    background-color: #fff;
    width: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px 15px 15px 0;
    -webkit-border-radius: 0px 15px 15px 0;
    -moz-border-radius: 0px 15px 15px 0;
    -ms-border-radius: 0px 15px 15px 0;
    -o-border-radius: 0px 15px 15px 0;
}

.toggle-setting .fa-gear {
    padding: 10px 0;
    width: 36px;
    cursor: pointer;
}

.setting-box.opean {
    left: 0;

}

.setting-box .setting-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
}

.setting-box .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.setting-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}

.setting-box .option-box .colors-list li {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #eee;

    display: inline-block;
}

.setting-box .option-box .colors-list li.active {
    border-color: white;
}

.setting-box .colors-list li:first-child {
    background-color: #ffc107;
}

.setting-box .colors-list li:nth-child(2) {
    background-color: #355;
}

.setting-box .colors-list li:nth-child(3) {
    background-color: #0734ff;
}

.setting-box .colors-list li:nth-child(4) {
    background-color: #9e2727;
}

.setting-box .colors-list li:nth-child(5) {
    background-color: #22ed76;
}

.setting-box .option-box .yes ,
.setting-box .option-box .no {
    width: 50px;
    background-color: #009688;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.setting-box .random-backgrounds span.active{
    opacity: 1;
}



/* End setting box */

/* start landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url('../imge/01.jpeg');
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
}

.header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
}

.header-area .links {
    list-style: none;
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
    width: 100%;
    font-size: 15px;
}

.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}

.header-area .links li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
}

.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.introduction-text h1 {
    font-size: 37px;
    margin: 0 0 12px;

}

.introduction-text h1 span {
    color: var(--main-color);
}

.introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}

/* End landing Page */

/* start about us */
.about-us{
padding-top: 50px;
padding-bottom: 50px;
display: flex;
}
.about-us .info-box{
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2{
font-weight: bold;
color: var(--main-color);
font-size: 30px;
margin: 0 0 10px;

}
.about-us .info-box p{
line-height: 1.8;
color: #b1a9a9;
margin: 0;
}
.about-us .image-box{
text-align: center;
flex: 1;
}
.about-us .image-box img{
    width:400px;
    margin-top: 30px;
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}

/* End about us */
/* Start Skills */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2{
    font-weight: bold;
        color: var(--main-color);
        font-size: 30px;
        margin: 0 0 50px;
        text-align: center;
        
}
.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name{
width: 140px;
font-weight: bold;
text-align: center;
line-height: 30px;
}
.skills .skill-box .skill-progress{ height: 30px; background-color: #f6f6f6; width: 100%; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px;
    position: relative;
}
.skills .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    -ms-transition:all 0.5s ;
    -o-transition:all 0.5s ;
}
/* End Skills */
/* Start Gallery */
.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery h2{
    font-weight: bold;
        color: var(--main-color);
        font-size: 30px;
        margin: 0 0 50px;
        text-align: center;
}
.gallery .container-2{
    width: 100%;
        display: flex;
        flex-wrap: wrap;
}
.gallery .images-box{
width: 20%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);

}
.gallery .images-box img{
    width: 100%;
        height: 250px;
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transition: 0.8s;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -ms-transition: 0.8s;
        -o-transition: 0.8s;
        opacity: 0.6;
        cursor: pointer;
}
.gallery .images-box img:hover{
transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    opacity: 1;
}

.popup-overlay{
    z-index: 1000;
    position: fixed;
    top: 0;
    nav-left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
}

.popup-box{ position: fixed; top: 50%; left: 50%; transform: translate(-50% , -50%) ; -webkit-transform: translate(-50% , -50%) ; -moz-transform: translate(-50% , -50%) ; -ms-transform: translate(-50% , -50%) ; -o-transform: translate(-50% , -50%) ;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1001;
    padding: 20px;
}

.popup-box h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}
.popup-box img{max-width: 100%;
}

.close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color:#fff ;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End Gallery */
/* Start Timeline  */
.timeline{
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #eee;
}
.timeline .timeline-content{
position: relative;
overflow: hidden;
}
.timeline .timeline-content::before{
    content: "";
position: absolute;
height: 100%;
width: 2px;
top: 0;
left: 50%;
background-color: var(--main-color);
margin-left: -1px;
}
.timeline .timeline-content .year{
    margin: 20px auto;
    width: 200px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left{
   float:left ;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    top: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.timeline .timeline-content .left::before{
    right: -35px;
}
.timeline .timeline-content .right::before{
   left: -35px;
}

.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color:#fff ;
}
.timeline .timeline-content .content h3{
  font-weight: bold;
  color: var(--main-color);
 margin: 0 0 10px;
}
.timeline .timeline-content .content h3 {
    color: #666;
    margin: 0;
    line-height: 1.6;
}

.clearFix{
    clear: both;
}

.timeline .timeline-content .left .content::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent transparent #fff;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    right: -20px;
}
.timeline .timeline-content .right .content::before {
    content: "";
    border: 10px solid;
    border-color: transparent #fff transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    left: -20px;
}
/* END Timeline  */

/* Start features */
.features{
    margin-top: 80px;
    margin-bottom: 80px;
}
.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
    
}

.features .container{
        display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
     
}
.features .feat-box{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;

}
.features .feat-box h4{
font-size: 22px;
margin: 15px 0 20px;
position: relative;
}
.features .feat-box h4::before{ content: ""; width: 40px; height: 4px; background-color: var(--main-color); position: absolute; left: 50%; transform:translate(-50% , -50%) ; -webkit-transform:translate(-50% , -50%) ; -moz-transform:translate(-50% , -50%) ; -ms-transform:translate(-50% , -50%) ; -o-transform:translate(-50% , -50%) ;
    bottom: -20px;
}
.features .feat-box p{

}

.feat-box img{
    width: 96px;
    height:96px;
}
/* END features */
/* Start Testimonials */
.testimonials{
  
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonials::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}
.testimonials::after{
    content: "";
    content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #333;
    }

.testimonials h2{
font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 60px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.testimonials .container .box{
display: flex;
justify-content: space-between;

}
.testimonials .ts-box{
   background-color: #fff;
        z-index: 2;
        flex-basis: 33%;
        padding: 20px;
}
.testimonials .ts-box > p{
margin: 0 0 20px;
line-height: 1.5;
font-size: 18px;
color: #707070;
font-style: italic;
}

.testimonials .ts-box .person-info{
   display: flex;
  justify-content: space-around;
}

.person-info .info{
    display: flex;
    flex-direction: column;
    
}
.testimonials .ts-box .person-info img {
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    width: 40%;
}
.testimonials .ts-box .person-info .info {
    
}
.testimonials .ts-box .info h4{
margin: 35px 0 10px;
}
.testimonials .ts-box .info p {
    color: #707070;
    margin: 0;
}
/* End Testimonials */